<ion-header>
  <ion-toolbar>
    <ion-title>dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{ connectedDevice }}


  <ion-button expand="block" (click)="conectarDispositivo()">conectarDispositivo()</ion-button>
  <ion-button expand="block" (click)="testarConexao()">testarConexao()</ion-button>
  <ion-button expand="block" (click)="escreverDados()">escreverDados()</ion-button>
  <ion-button expand="block" (click)="escreverDadosComoBuffer()">escreverDados()</ion-button>
</ion-content>
