<ion-header>
  <ion-toolbar>
    <ion-title>
      ESP 32
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="ativarBluetooth()">ativarBluetooth()</ion-button>
  <ion-button expand="block" (click)="listarBluetooth()">listarBluetooth()</ion-button>

  <ion-list>
    <ion-item *ngFor="let device of listOfBluetoothDevices">
      <ion-label (click)="conectarComDispositivo(device.id)">{{device.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
